/* _sass/_variables.scss */

$primary-color: #3498db; // Soft blue
$secondary-color: #2ecc71; // Soft green
$text-color: #333333; // Dark grey for text
$background-color: #f8f8f8; // Light grey background
$border-color: #cccccc; // Light grey for borders
$glitch-color-1: #ff00ff; // Magenta
$glitch-color-2: #00ffff; // Cyan

$font-mono: 'Roboto Mono', monospace;
$font-display: 'Press Start 2P', cursive;
