/* _sass/_variables.scss */

// Light Mode Colors
$light-primary-color: #3498db; // Soft blue
$light-secondary-color: #2ecc71; // Soft green
$light-text-color: #333333; // Dark grey for text
$light-background-color: #f8f8f8; // Light grey background
$light-header-footer-bg: #e0e0e0; // Slightly darker for header/footer
$light-border-color: #cccccc; // Light grey for borders

// Dark Mode Colors (new comfortable dark theme)
$dark-primary-color: #9b59b6; // Amethyst
$dark-secondary-color: #2980b9; // Belize Hole
$dark-text-color: #ecf0f1; // Clouds
$dark-background-color: #2c3e50; // Wet Asphalt
$dark-header-footer-bg: #233140; // Slightly darker for header/footer
$dark-border-color: #7f8c8d; // Asbestos
$glitch-color-1: #ff00ff; // Magenta
$glitch-color-2: #00ffff; // Cyan

$font-mono: 'Roboto Mono', monospace;
$font-display: 'Press Start 2P', cursive;
