/* _sass/main.scss */

@import "variables";
@import "base";
@import "components";
@import "layout";

:root {
  // Light mode variables
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --text-color: #{$light-text-color};
  --background-color: #{$light-background-color};
  --header-footer-bg: #{$light-header-footer-bg};
  --border-color: #{$light-border-color};
}

body.dark-mode {
  // Dark mode overrides
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --text-color: #{$dark-text-color};
  --background-color: #{$dark-background-color};
  --header-footer-bg: #{$dark-header-footer-bg};
  --border-color: #{$dark-border-color};
}